# Ignorar node_modules
node_modules/

# Ignorar archivos de configuración de entorno
.env

# Ignorar compilaciones de TypeScript
dist/
build/

# Ignorar archivos de logs y cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ignorar archivos de VSCode y sistema
.vscode/
.DS_Store
